<header id="home">
  <center>
    <h1>Your API key is</h1>
    <h3>{{apikey}}</h3>
    <form role="form" name="updateKey" action="/apikey_controller" method="post">
      <input type="text" name="userID" value="">
      <br/>
      <button type="submit">Request a new key</button>
    </form>

  </center>
</header>
