<!DOCTYPE html>

<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="This server will allow others to document their APIS as well as generate API keys to allow other developers to use the API.">
  <meta name="author" content="Muhand Jumah">
  <title>{{appname}}</title>
</head>

<body id="page-top" class="index">
  {{{body}}}
</body>

</html>
